/* fonts */
@font-face {
  font-family: neutra;
  src: local("Neutra Text"), url("fonts/NeutraTextBook.otf");
}
@font-face {
  font-family: neutra;
  src: local("Neutra Text Bold"), url("fonts/NeutraTextBold.otf");
  font-weight: bold;
}
@font-face {
  font-family: neutra;
  src: local("Neutra Text Italic"), url("fonts/NeutraTextBookItalic.otf");
  font-style: italic;
}
@font-face {
  font-family: neutra-light;
  src: local("Neutra Text Light"), url("fonts/NeutraTextLight.otf");
}
/* global tags */
body {
  color: #333;
  font: 16px neutra, Helvetica, Verdana, Arial, sans-serif;
  line-height: 1.4em;
  margin: 0;
}
pagetitle {
  font: 26px neutra, Helvetica, Verdana, Arial, sans-serif;
  line-height: 45px;
}
a {
  color: #5f294f;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #8a3b73;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}
blockquote {
  border-left: 5px solid #f2f2f2;
  margin-left: 15px;
  padding: 0 0 0 15px;
}
em {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-size: 100%;
  font-weight: normal;
  margin: 1em 0 .5em;
}
h1,
h2,
h3 {
  font-family: neutra, Helvetica, Verdana, Arial, sans-serif;
}
h1 {
  font-family: neutra-light, Helvetica, Verdana, Arial, sans-serif;
  font-size: 200%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 125%;
}
hr {
  border: 0;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #cccccc;
  margin: 1.5em 0;
}
strong {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}
ul,
ol {
  margin: 0 0 1em 25px;
  padding: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 1.4em;
}
ul.unstyled
,ol.unstyled {
  margin-left: 0;
  list-style: none;
}
/* clear fix */
.header-logo img{
  position:absolute;
  left:10px;
  top:10px;
  z-index:2;
}
.header-logo{
  color: grey;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* global classes */
.blockCenter {
  margin-left: auto;
  margin-right: auto;
}
.border {
  border: 1px solid #cccccc;
}
.borderPadded {
  border: 1px solid #cccccc;
  padding: 5px;
}
.clearBoth {
  clear: both;
}
.clearLeft {
  clear: left;
}
.clearRight {
  clear: right;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.hidden {
  display: none;
}
.insetLeft {
  float: left;
  margin: 0 10px 5px 0;
}
.insetRight {
  float: right;
  margin: 0 0 5px 10px;
}
.noTopMargin {
  margin-top: 0;
}
.sizeFull {
  width: 695px;
}
.sizeOneThird,
.sizeTwoThirds {
  float: left;
  margin-bottom: 15px;
  margin-right: 25px;
}
.sizeOneThird {
  width: 220px;
}
.sizeTwoThirds {
  width: 450px;
}
.textCenter {
  text-align: center;
}
.textSmall {
  font-size: 13px;
}
.vertCenter {
  vertical-align: middle;
}
/* buttons */
.button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 20px;
  line-height: 1em;
  margin: .75em 0;
  padding: 6px 10px 0;
  text-align: center;
}
.button.wide {
  width: 158px;
}
.button.floatLeft.wide {
  margin-left: 10px;
  margin-right: 10px;
}
.button.vert {
  font-size: 32px;
  height: 52px;
  padding: 20px 5px 0;
  position: relative;
  top: 101px;
}
.button:hover,
.button:active {
  color: #fff;
}
.button#facebook,
.button#google,
.button#twitter {
  height: 24px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 95px;
}
.button.green {
  background: #a2ad00;
  background-image: -moz-linear-gradient(top, #b0bc00, #a2ad00);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#b0bc00), to(#a2ad00));
  background-image: linear-gradient(top, #b0bc00, #a2ad00);
  border: 1px solid #a2ad00;
  -moz-box-shadow: inset 0 1px 0 #bac700, inset 0 -1px 0 #8a9400, 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 #bac700, inset 0 -1px 0 #8a9400, 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 #bac700, inset 0 -1px 0 #8a9400, 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-text-shadow: 0 1px 1px #999999;
  -webkit-text-shadow: 0 1px 1px #999999;
  text-shadow: 0 1px 1px #999999;
}
.button.green:hover,
.button.green:active {
  background: #b0bc00;
  background-image: -moz-linear-gradient(top, #cddb00, #b0bc00);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#cddb00), to(#b0bc00));
  background-image: linear-gradient(top, #cddb00, #b0bc00);
}
.button.gray {
  background: #f2f2f2;
  color: #666666;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#f2f2f2));
  background-image: linear-gradient(top, #ffffff, #f2f2f2);
  border: 1px solid #f2f2f2;
  -moz-box-shadow: inset 0 1px 0 #ffffff, inset 0 -1px 0 #e5e5e5, 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 #ffffff, inset 0 -1px 0 #e5e5e5, 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 #ffffff, inset 0 -1px 0 #e5e5e5, 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-text-shadow: 0 1px 1px #999999;
  -webkit-text-shadow: 0 1px 1px #999999;
  text-shadow: 0 1px 1px #999999;
}
.button.gray:hover,
.button.gray:active {
  background: #fff;
}
.button.plum {
  background: #5f294f;
  background-image: -moz-linear-gradient(top, #743261, #5f294f);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#743261), to(#5f294f));
  background-image: linear-gradient(top, #743261, #5f294f);
  border: 1px solid #5f294f;
  -moz-box-shadow: inset 0 1px 0 #a6488a, inset 0 -1px 0 #2a1223, 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 #a6488a, inset 0 -1px 0 #2a1223, 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 #a6488a, inset 0 -1px 0 #2a1223, 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-text-shadow: 0 1px 1px #999999;
  -webkit-text-shadow: 0 1px 1px #999999;
  text-shadow: 0 1px 1px #999999;
}
.button.plum:hover,
.button.plum:active,
.button.plum.inactive {
  background: #743261;
  background-image: -moz-linear-gradient(top, #8a3b73, #743261);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#8a3b73), to(#743261));
  background-image: linear-gradient(top, #8a3b73, #743261);
}
.button.lg {
  height: 45px;
  width: 182px;
}
.button.order {
  height: 70px;
  position: absolute;
  right: 10px;
  z-index: 10;
}
.button .head {
  font-size: 1.25em;
  line-height: 1.4em;
}
.button .info {
  font-size: 13px;
}
.button .icon {
  padding-left: 22px;
  padding-top: 4px;
}
/* forms */
fieldset {
  border: 1px solid #cccccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 10px -10px;
  padding: 10px;
}
fieldset legend {
  color: #666666;
  font-size: 125%;
  margin-left: -5px;
  padding: 0 5px;
}
form {
  margin: 0 0 1.5em;
  padding: 0 10px;
}
form label {
  cursor: pointer;
}
form .description {
  color: #666666;
}
input,
select,
textarea {
  font-family: neutra;
  line-height: 1em;
  margin: .5em 0;
  padding: 10px 5px 2px;
}
input[type=email],
input[type=password],
input[type=text],
select,
textarea {
  border: 1px solid #cccccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #666666;
  font-family: neutra, Helvetica, Verdana, Arial, sans-serif;
  font-size: 13px;
}
input[type=email]:hover,
input[type=password]:hover,
input[type=text]:hover,
select:hover,
textarea:hover,
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
select:hover,
textarea:focus {
  background: #ffc;
}
input[readonly=readonly] {
  color: #999;
}
input[type=submit] {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #bbb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *margin-left: .3em;
}
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #e6e6e6;
}
input[type=submit]:active {
  background-color: #cccccc;
}
input[type=submit]:first-child {
  *margin-left: 0;
}
input[type=submit]:hover {
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
input[type=submit]:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
input.colorPlum {
  color: #fff;
  background-image: -moz-linear-gradient(top, #743261, #5f294f);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#743261), to(#5f294f));
  background-image: linear-gradient(top, #743261, #5f294f);
}
input.colorPlum:hover,
input.colorPlum:active {
  color: #fff;
  background: #98427e;
}